html body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    background-color: #f6f6f6;
    font-size: 16px;
}
.wrapper {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.block {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.block_avatar {
    width: 144px;
    height: 144px;
    margin: -92px auto 16px;
    border: 2px solid #BEBEBE;
    border-radius: 50%;
    background: #F6F6F6;
    overflow: hidden;
}
.avatar {
    width: 100%;
    object-fit: cover;
}
.block_image_text {
    padding: 20px 20px 12px;
    text-align: center;
}
.block_image_text_name {
    display: block;
    font: 500 21px/28px "Fira Sans", sans-serif;
}
.block_footer {
    padding: 20px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background: #33C1E3;
    text-align: center;
}
.block_link {
    display: inline-block;
    vertical-align: middle;
    padding: 9px 15px 8px;
    border: 2px solid;
    border-radius: 50px;
    outline: none;
    color: white;
    font: bold 15px "Fira Sans", sans-serif;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}
.block_link:hover {
    background-color: white;
    color: #33c1e3;
}
