    html body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    background-color: #f6f6f6;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
.fa {
    padding-right: 5px;
}
.header {
    width: 100%;
    min-width: 90%;
    padding-top: 0.625rem;
    margin-bottom: 1.625rem;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625rem;
}
.header_container {
    position: relative;
    max-width: 1000px;
    padding: 0 0.625rem;
    margin: 0 auto;
}
.header__container:before {
    content: "";
    display: table;
}
.header_block_left {
    float: left;
    display: block;
    border: 0px;
    margin-left: -1.25rem;
}
.header_pic {
    border: 1px solid rgb(190, 190, 190);
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.header_photo {
    width: 100%;
    object-fit: cover;
}
.header_name {
    display: inline-block;
    font-size: 1.125rem;
    font-family: 'Fira Sans', sans-serif;
    'Fira Sans', sans-serif;
    color: rgb(65, 65, 65);
    margin-left: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    vertical-align: middle;
    padding-top: 1.1rem;
}
.contacts {
    display: inline-block;
    float: right;
    padding-top: 1.5rem;
    color: #33c1e3;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 1px dashed #33c1e3;
    line-height: 1.125rem;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.contacts:hover {
    display: inline-block;
    float: right;
    padding-top: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.125rem;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #e85f61;
    border-bottom: 1px dashed #e85f61;
}
.contacts_dropdown {
    list-style-type: none;
}
.header_content_right:hover .contacts_dropdown {
    display: block;
}
.contacts_dropdown {
    font-family: "FontAwesome";
    margin: 0px;
    display: none;
    padding: 5px 0.625rem 0 1.25rem;
    position: absolute;
    top: 3.876rem;
    right: -2.1875rem;
    color: #414141;
    border: 1px solid #dedede;
    border-radius: 0.625rem;
    background-color: white;
    list-style-type: none;
    text-align: left;
    z-index: 1000;
}
.contacts_dropdown:hover {
    position: absolute;
    top: 3.876rem;
    right: -2.1875rem;
    border: 1px solid #dedede;
    background-color: white;
    border-radius: 0.625rem;
    display: none;
}
.contacts_dropdown:before {
    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    display: block;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #dedede;
}
.contacts_dropdown:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.contacts_dropdown_items {
    font-size: 1.125rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 2.375rem;
    text-align: left;
}
.fa-envelope-o, .fa-phone, .fa-skype {
    color: #33c1e3;
}
.header__container:after, .content:after, .content_info:after {
    clear: both;
}
.header .fa-phone {
    display: none;
}

/*main block*/

.content {
    padding: 0 0.625rem;
    margin: 0 auto;
    display: inline-block;
    min-width: 90%;
}
.content_container {
    max-width: 1000px;
    margin: 0 auto;
}
.slidebar {
    display: block;
    float: left;
    padding-left: 1.25rem;
}
.nav_list {
    margin: 0px;
    padding: 0px;
}
.nav_link {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5rem;
    font-size: 1.125rem;
    display: block;
    padding: 0.625rem 2.1875rem 0.625rem 0;
    text-align: right;
    border-right: 5px solid transparent;
    text-decoration: none;
    color: rgb(65, 65, 65);
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}
.nav_link:hover {
    color: #33c1e3;
}
.nav_link:active {
    border-color: #33c1e3;
}
.nav_item {
    position: relative;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
}
.contacts_dropdown_items_mail {
    text-decoration: none;
    color: black;
}

/*content */

.content_info {
    float: right;
    width: 70%;
    margin-bottom: 10px;
}
.content_header {
    padding: 0;
    margin: 0;
    color: #414141;
    font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 1.25rem;
    text-align: left;
}
.portfolio {
    display: block;
    margin-right: -0.9375rem;
}
.portfolio_list {
    list-style-type: none;
    padding-left: 0;
}
.about_item {
    float: left;
    width: 33.3%;
    vertical-align: top;
}
.portfolio_item_block {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.9375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 1.25rem;
    overflow: hidden;
    background-color: #f6f6f6;
}
.portfolio_link_block {
    text-decoration: none;
    display: block;
    padding: 0.9375rem 0 0.8125rem 1.25rem;
    vertical-align: middle;
}
.portfolio_image {
    display: block;
    max-width: 100%;
}
.portfolio_title {
    color: #33c1e3;
    font-size: 1.3125rem;
    line-height: 27px;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
}
.portfolio_describtion {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(65, 65, 65);
    line-height: 1.5rem;
    text-align: left;
    vertical-align: middle;
}
.portfolio_expl {
    font-size: 0.775rem;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(174, 174, 174);
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}
.portfolio_item_block:hover {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
    color: #e85f61;
}
.portfolio_item_block:hover .portfolio_title {
    color: #e85f61;
}

/*footer*/

.footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    min-width: 90%;
    height: 3.125rem;
    margin: 0px;
}
.footer_container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0.5625rem 0.625rem;
}
.copyright {
    color: #9c9c9c;
    font-size: 0.875rem;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    vertical-align: middle;
    line-height: 2rem;
    float: left;
}
.socials {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 0;
    vertical-align: middle;
    list-style-type: none;
}
.socials_items_facebook, .socials_items_vk, .socials_items_twitter {
    background: url(./socials.png) no-repeat;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.socials_items_facebook {
    background-position: -0px -0px;
    height: 40px;
    width: 40px;
}
.socials_items_facebook:hover {
    background-position: -0px -44px;
    height: 40px;
    width: 40px;
}
.socials_items_twitter {
    background-position: -79px -0px;
    height: 40px;
    width: 40px;
}
.socials_items_twitter:hover {
    background-position: -79px -44px;
    height: 40px;
    width: 40px;
}
.socials_items_vk {
    background-position: -39px -0px;
    height: 40px;
    width: 40px;
}
.socials_items_vk:hover {
    background-position: -39px -44px;
    height: 40px;
    width: 40px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.cleafix:after {
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    font-weight: normal;
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
    .content_container {
        width: 970px;
    }
    .header_container {
        padding: 0 3.625rem;
    }
}

/*laptop*/

@media screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
    .content_container {
        width: 700px;
    }
    .content_info {
        width: 31.25rem;
    }
    .about_item{
      width: 50%;
    }
    .header_container {
        padding: 0 3.625rem;
    }
}

/*tablet*/

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .content_container {
        width: 750px;
    }
    .content_info {
        width: auto;
    }
    .content_container {
        width: 480px;
    }
    .slidebar {
        margin-bottom: 1.125rem;
        margin-left: 0.625rem;
    }
    .portfolio_list{
    }
    .about_item{
      width: 33.3%;

    }
    .nav_list {
        display: flex;
        flex-wrap: wrap;
    }
    /*phone*/
    @media screen and (max-width: 480px) {
        html {
            font-size: 12px;
        }
        .header__container {
            width: 100%;
        }
        .content_info {
            width: auto;
            display: block;
            box-sizing: border-box;
        }
        .content_container {
            width: 100%;
            float: none;
            text-align: center;
        }
        .content_right_contacts {
            display: none;
        }
        .contacts {
            border-bottom: none;
        }
        .contacts:hover {
            border-bottom: none;
        }
        .contacts .fa-phone {
            display: inline-block;
            font-size: 2.5rem;
            margin-top: -0.625rem;

        }
        .contacts_dropdown {
            width: 140px;
            position: absolute;
            right: 1.1875rem;
        }
        .contacts_dropdown_items_mail {
            width: 6.25rem;

        }
        .slidebar {
            display: inline-block;
            text-align: center;
        }
        .content_header{
          text-align: center;
        }
        .about_item{
          width: 100%;
        }
        .portfolio_describtion{
          font-size: 12
        }

        .footer {
            height: auto;
            text-align: center;
            width: 100%;
            position: relative;
        }
        .footer_container {
            width: 100%;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .copyright {
            display: inline-block;
            font-size: 0.875rem;
            padding-bottom: 0.625rem;
            ;
            padding: 0 25%;
        }
        .socials {
            display: inline-block;
            float: none;
            width: 160px;
        }
        .nav_link {
            padding: 0.625rem 2rem 0.625rem 0;
        }
        .slidebar .fa {
            display: none;
        }
        .contacts_dropdown:before, .contacts_dropdown:after {
            left: 65%;
        }
        .contacts_dropdown, .contacts_dropdown:hover {
            left: 65%;
        }
    }
    ol, ul {
        list-style: none outside none;
    }
